@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}

.container {
  resize: both;
  height: 100%;
  display: grid;
  grid-template-rows: min(1fr, 150px) 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
}

.sidebar {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #0284c7;
  grid-area: 1/1/5/1;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  color: white;
}

.logo {
  align-items: center;
  font-size: 30px;
}

.list {
  padding: 0;
  list-style: none;
  display: grid;
  text-decoration: none;
}

.list img {
  height: 20px;
  width: 20px;
}
.logo img {
  width: 70px;
  height: 70px;
}

.logo,
.list li {
  display: flex;
  gap: 16px;
}

.sidebar img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

/* HEADER */
.header {
  background-color: whitesmoke;
  grid-column: 2/5;
  grid-row: 1;
  display: grid;
  grid-template: 1fr 1fr/1fr;
  gap: 10px;
  padding: 10px 30px;
}

.header .icon {
  height: 30px;
  width: 30px;
}

.header > .top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchbar > input {
  width: 80%;
  font-size: 13px;
  border-radius: 16px;
  padding: 5px 10px;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 20px;
}

.status {
  display: flex;
  font-weight: 600;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.header > .bottom {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  font-size: 24px;
  font-weight: 600;
}
.birb {
  width: 50px;
  height: auto;
}

.greet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.greet .birb {
  width: 70px;
  height: auto;
}

.welcome-header {
  font-size: 16px;
  margin: 0;
}

.welcome-body {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}

button {
  width: 120px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #0095ff;
  border: 1px solid transparent;
}

/* MAIN */
.main {
  background-color: lightgray;
  grid-area: 2/2/5/5;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
}

.main > .left {
  background-color: #e2e8f0;
  display: grid;
  justify-content: center;
  /* gap: 10px; */
  grid-template-columns: repeat(3, minmax(100px, 30%));
  grid-template-rows: auto;
}

.main > .left > .card {
  margin: 20px;
  border-radius: 16px;
  background-color: whitesmoke;
}
.main > .right {
  display: grid;
}
.main > .right > .top,
.main > .right > .bottom {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.main > .right > .bottom > .bottom-container {
  justify-content: center;
}

.main > .right > .top > .top-container,
.main > .right > .bottom > .bottom-container {
  background-color: whitesmoke;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 16px;
  padding: 10% 10%;
}

.main > .right > .bottom > .bottom-container {
  gap: 0;
}

.main > .right > .top,
.main > .right > .bottom {
  padding: 10px 20px;
}
.main > .right > .top > h2,
.main > .right > .bottom > h2 {
  margin-top: 0;
  padding: 5px;
}

h1,
h2,
h3,
p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

hr {
  border-width: 1px;
  border-style: solid;
  color: #0095ff;
}

.bc1 {
  background-color: #ddd6fe;
}
.bc2 {
  background-color: #f87171;
  text-align: center;
  color: white;
}
.bc3 {
  background-color: #bfdbfe;
}
